In [15]:
import pandas as pd

# Load data

In [16]:
df = pd.read_parquet("df_cleaned_reg.parquet")

In [17]:
pd.set_option("display.max_columns", None)

In [35]:
df

,auction_house_name,auction_location,auction_name,auction_start_date,lot_num,bought_in,currency,artwork_creation_year,artwork_measurements_width,artwork_measurements_height,artwork_measurements_depth,artwork_measurements_unit,artwork_name,medium_final,price_estimate_min_usd,price_estimate_max_usd,artist_name,artist_nationality,artist_birth,price_estimate_mid_usd,auction_month,auction_year,signed,has_provenance,exhibited,has_literature,price_estimate_min_usd_real,price_estimate_max_usd_real,price_estimate_mid_usd_real,hammer_price_usd_real,artist_continent,artist_genre,artist_gender,artist_dead,artist_death_date,artist_death_year
0,Sotheby's,New York,A Scholar Collects,2024-01-31,10,0.0,USD,1826,17.7,14.200,NaN,centimeters,Landscape of the Ardennes with the Church of M...,works on paper,12000,16000,Other,french,1755,14000.0,1,2024,0.0,1.0,1.0,1.0,12514.00939,16685.345854,14599.677622,2.328614e+04,europe,Old Masters,Female,1.0,1842-03-30,1842
1,Sotheby's,New York,A Scholar Collects,2024-01-31,9,0.0,USD,1821,20.9,15.000,NaN,centimeters,Sky study,works on paper,12000,16000,Other,french,1755,14000.0,1,2024,0.0,1.0,1.0,1.0,12514.00939,16685.345854,14599.677622,4.075075e+04,europe,Old Masters,Female,1.0,1842-03-30,1842
2,Sotheby's,New York,A Scholar Collects,2024-01-31,20,0.0,USD,<NA>,27.4,32.000,NaN,centimeters,"A young woman wearing pearl earrings, with flo...",works on paper,60000,80000,Other,italian,1675,70000.0,1,2024,0.0,1.0,1.0,1.0,62570.046952,83426.729269,72998.38811,1.746461e+05,europe,Old Masters,Female,1.0,1757-04-15,1757
3,Sotheby's,New York,A Scholar Collects,2024-01-31,11,0.0,USD,<NA>,38.1,50.165,NaN,centimeters,Self-Portrait In Traveling Costume,works on paper,700000,1000000,Other,french,1755,850000.0,1,2024,0.0,1.0,1.0,1.0,729983.881103,1042834.115862,886408.998483,2.828258e+06,europe,Old Masters,Female,1.0,1842-03-30,1842
4,Sotheby's,New York,A Scholar Collects,2024-01-31,8,0.0,USD,<NA>,28.2,43.200,NaN,centimeters,Profile Portrait of the Duchesse de Polignac,works on paper,120000,180000,Other,french,1755,150000.0,1,2024,0.0,1.0,1.0,1.0,125140.093903,187710.140855,156425.117379,2.794337e+05,europe,Old Masters,Female,1.0,1842-03-30,1842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6283071,Sotheby's,New York,American Art,2020-06-26,45,1.0,USD,2020,49.5,30.500,NaN,centimeters,SECONNET POINT FROM THE EAST END,paintings,60000,80000,Other,american,1820,70000.0,6,2020,1.0,1.0,0.0,0.0,74856.054069,99808.072091,87332.06308,0.000000e+00,north america,Old Masters,Male,1.0,1910-02-25,1910
6283072,Sotheby's,New York,American Art,2020-06-26,48,0.0,USD,1850,76.8,51.400,NaN,centimeters,"SCHOONER ""LOO CHOO"" IN A STORMY SEA",paintings,80000,120000,Other,american,1804,100000.0,6,2020,1.0,1.0,0.0,0.0,99808.072091,149712.108137,124760.090114,1.028243e+05,north america,Old Masters,Male,1.0,1865-08-13,1865
6283073,Sotheby's,New York,American Art,2020-06-26,49,0.0,USD,1850,76.8,51.400,NaN,centimeters,"SCHOONER ""LOO CHOO"" IN A CALM SEA",paintings,60000,80000,Other,american,1804,70000.0,6,2020,1.0,1.0,0.0,0.0,74856.054069,99808.072091,87332.06308,3.427475e+05,north america,Old Masters,Male,1.0,1865-08-13,1865
6283074,Sotheby's,New York,American Art,2020-06-26,51,0.0,USD,1830,45.7,34.900,NaN,centimeters,"SOUTHERN SIERRA, MOUNT WHITNEY REGION",paintings,20000,30000,Other,german,1830,25000.0,6,2020,1.0,1.0,0.0,0.0,24952.018023,37428.027034,31190.022529,2.330683e+04,europe,Impressionist and Modern,Male,1.0,1902-02-18,1902
6283075,Sotheby's,New York,American Art,2020-06-26,50,1.0,USD,<NA>,35.6,25.100,NaN,centimeters,MOONLIGHT,paintings,10000,15000,Other,american,1847,12500.0,6,2020,1.0,1.0,0.0,0.0,12476.009011,18714.013517,15595.011264,0.000000e+00,north america,Impressionist and Modern,Male,1.0,1919-08-09,1919

# Clean

In [34]:
# drop unused column
df.drop(columns=['hammer_price_usd'], inplace=True)

In [33]:
# drop empty rows
df = df.dropna(subset=[
    "auction_house_name",
    "auction_location",
    "medium_final",
    "artist_name",
])

In [23]:
# consolidate auction houses
top50 = df["auction_house_name"].value_counts().nlargest(50).index

df.loc[:, "auction_house_name"] = df["auction_house_name"].where(
    df["auction_house_name"].isin(top50),
    "Other"
)

In [25]:
# consolidate auction locations
top50 = df["auction_location"].value_counts().nlargest(50).index

df.loc[:, "auction_location"] = df["auction_location"].where(
    df["auction_location"].isin(top50),
    "Other"
)

In [26]:
# consolidate currencies
top50 = df["auction_location"].value_counts().nlargest(50).index

df.loc[:, "auction_location"] = df["auction_location"].where(
    df["auction_location"].isin(top50),
    "Other"
)

In [28]:
# consolidate artists
top50 = df["artist_name"].value_counts().nlargest(50).index

df.loc[:, "artist_name"] = df["artist_name"].where(
    df["artist_name"].isin(top50),
    "Other"
)

In [30]:
# consolidate artist nationalities
top50 = df["artist_nationality"].value_counts().nlargest(50).index

df.loc[:, "artist_nationality"] = df["artist_nationality"].where(
    df["artist_nationality"].isin(top50),
    "Other"
)

# Export

In [36]:
df.to_parquet("df_ols.parquet", index=False)